body {
    background-color: #121212;
    font-family: "Lexend Deca";
    color: white;
}

h1 {
    margin-bottom: 10px;
}

.cayde {
    height: 1000px;
    width: auto;
    padding: 20px;
    padding-top: 0;
}

.tile {
    border-radius: 4px;
    background-color: #212121;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    width: 400px;
    height: 500px;
}

.login-button {
    font-family: inherit;
    border-radius: 5px;
    margin: 0;
    border: 0;
    padding: 10px;
}

.login-button:hover {
    cursor: pointer;
}

.inventory-container {
    padding: 10px;
    margin-top: 10px;
}


    